/* Sets the background color of the webpage to a dark gray and the text color to a light gray */
body {
  background-color: #1a1a1a; 
  color: #f5f5f5; 
}

/* Sets the color of links to a medium gray */
a {
  color: #9f9f9f; 
}

/* Sets the color of all headings to light gray */
h1, h2, h3, h4, h5, h6 {
  color: #f5f5f5; 
}

/* Sets the color of paragraphs to a slightly lighter gray */
p {
  color: #d9d9d9; 
}

/* Sets the background color of input fields and text areas to a dark gray and the text color to white */
input, textarea {
  background-color: #383838;
  color: #fff;
}

/* Sets the style of all tables */
table {
    border-collapse: collapse; /* Collapses the borders of the table */
    width: 100%; /* Sets the width of the table to 100% of its container */
    margin-bottom: 1rem; /* Adds a margin at the bottom of the table */
}

/* Sets the style of table headers and cells */
table th,
table td {
    padding: 0.75rem; /* Adds padding to the headers and cells */
    vertical-align: top; /* Vertically aligns the content to the top of the cell */
    border-top: 1px solid #dee2e6; /* Adds a top border to the headers and cells */
}

/* Sets the style of table headers */
table th {
    font-weight: bold; /* Makes the text in the headers bold */
    border-bottom: 2px solid #dee2e6; /* Adds a bottom border to the headers */
}

/* Sets the style of table cells */
table td {
    border-bottom: 1px solid #dee2e6; /* Adds a bottom border to the cells */
}

/* Aligns the content of the last cell in each row to the right */
table td:last-child {
    text-align: right;
}

.comment-container {
        margin-bottom: 1rem;
        border-bottom: 1px solid #fff;
    }