{% extends "base.html" %}

{% block content %}
    <h1>How Christian Book Hub Helps Christians and Authors</h1>
    <p>Christian Book Hub is a platform that connects Christian readers with books that align with their values and beliefs. We believe that Christian literature has the power to transform lives and bring people closer to God.</p>
    <p>Our platform provides a space for readers to discover new books, share their thoughts and connect with other Christians. We work closely with Christian publishers and authors to promote their work and help them reach a wider audience. Our goal is to support Christian writers and publishers who are dedicated to spreading the message of God's love and grace through their writing.</p>
    <p>If you are a Christian author or publisher and would like to learn more about how we can support your work, please contact us at <a href="mailto:support@christianbookhub.com">support@christianbookhub.com</a>.</p>
{% endblock %}
