{% extends "base.html" %}

{% block content %}
  <!-- Display book title, author, and description -->
  <h1>{{ book.title }}</h1>
  <p>{{ book.author }}</p>
  <p>{{ book.description }}</p>

  <!-- Display book reviews -->
  <h2>Reviews</h2>
  {% if reviews %}
    <ul>
      {% for review in reviews %}
        <li>{{ review[0] }} - {{ review[1] }} - {{ review[2] }} stars {% if review[0] == current_user.id %}(Your review has been updated){% endif %}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews yet.</p>
  {% endif %}

  <!-- Form to add/edit a review -->
  <h2>Add/Edit Review</h2>
  <form method="POST">
    <input type="hidden" name="book_id" value="{{ book.id }}">
    <label for="reviewer_name">Your Name:</label>
    <input type="text" name="reviewer_name" id="reviewer_name">
    <br>
    <label for="review_content">Review:</label>
    <textarea name="review_content" id="review_content"></textarea>
    <br>
    <label for="star_rating">Star Rating:</label>
    <select name="star_rating" id="star_rating">
      <option value="1">1 star</option>
      <option value="2">2 stars</option>
      <option value="3">3 stars</option>
      <option value="4">4 stars</option>
      <option value="5">5 stars</option>
    </select>
    <br>
    <button type="submit">Submit Review</button>
  </form>
{% endblock %}
