<!-- This code extends the base HTML template and creates a page for displaying a list of books. -->
{% extends "base.html" %}

{% block content %}
  <!-- This is the title of the page. -->
  <h1>Books</h1>


  {% if books %}
    <!-- This table displays the list of books. -->
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>Review</th>
          <th>Thread</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <!-- This displays the title, author, and description of the book. -->
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.description }}</td>
            <!-- This link allows users to add or edit a review for the book. -->
            <td><a href="{{ url_for('book_details', book_id=book.id) }}">Add/Edit Review</a></td>
            <!-- This link allows users to view the forum thread for the book. -->
            <td><a href="{{ url_for('book_forum', book_id=book.id) }}">View Thread</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <!-- If no books are found, this message will be displayed. -->
    <p>No books found.</p>
  {% endif %}
{% endblock %}
