<!-- This code extends the base HTML template and creates a forum page for a book. -->
{% extends "base.html" %}

{% block content %}
    <!-- This is the title of the forum page that includes the book title. -->
    <h1>{{ book_title }} Forum</h1>

    {% if current_user.is_authenticated %}
        <!-- This form allows authenticated users to add a comment to the forum. -->
        <form method="post">
            <div>
                <label for="comment">Add a comment:</label>
                <textarea id="comment" name="comment" required></textarea>
            </div>
            <div>
                <button type="submit">Post Comment</button>
            </div>
        </form>
    {% else %}
        <!-- If the user is not logged in, this message will be displayed instead of the comment form. -->
        <p>You must be logged in to post a comment.</p>
    {% endif %}

    {% for comment in comments %}
        <div class="comment-container">
            <div class="comment">
                <!-- This displays the comment and the name of the user who posted it. -->
                <p>{{ comment[1] }}</p>
                <p>Posted by {{ comment[3] }} on {{ comment[2].strftime('%Y-%m-%d %H:%M:%S') }}</p>
                {% if current_user.is_authenticated and current_user.id == comment[4] %}
                    <!-- If the authenticated user is the same as the user who posted the comment, a delete button will be displayed. -->
                    <form method="post">
                        <input type="hidden" name="delete_comment" value="{{ comment[0] }}">
                        <button type="submit">Delete Comment</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
