<!-- This code extends the base HTML template and creates a dashboard page for the user. -->
{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <!-- This is the welcome message that includes the username of the current user. -->
    <h1>Welcome to the Dashboard, {{ current_user.username }}!</h1>
    <!-- This section displays the reviews written by the user. -->
    <h2>Your Reviews:</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>{{ review[1] }} - {{ review[3] }}</li>
                <p>{{ review[2] }}</p>
                <!-- This form allows the user to delete a review. -->
                <form method="POST">
                    <input type="hidden" name="book_id" value="{{ review[0] }}">
                    <button type="submit">Delete</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <!-- If the user has not written any reviews, this message will be displayed. -->
        <p>You haven't written any reviews yet.</p>
    {% endif %}
    
    <!-- This section displays the comments written by the user. -->
    <h2>Your Comments:</h2>
    {% if comments|length > 0 %}
        <ul>
            {% for comment in comments %}
                <li>{{ comment[2] }} - {{ comment[1] }}</li>
                <p>{{ comment[0] }}</p>
                <!-- This form allows the user to delete a comment. -->
                <form method="POST">
                    <input type="hidden" name="comment_id" value="{{ comment[0] }}">
                    <button type="submit">Delete</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <!-- If the user has not written any comments, this message will be displayed. -->
        <p>You haven't written any comments yet.</p>
    {% endif %}
    
    <!-- These links allow the user to logout or view the list of books. -->
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
    <p><a href="{{ url_for('books') }}">View Books</a></p>
{% endblock %}
