{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Christian Book Hub</h1>
    <p>If you are a registered user, please <a href="{{ url_for('login') }}">login</a> to access the discussions of Christian books.</p>
    <p>If you are not a registered user, please <a href="{{ url_for('register') }}">register</a> to create an account and gain access to our collection of Christian books.</p>
    <h2>Features:</h2>
    <ul>
        <li>Wide selection of Christian books in various categories</li>
        <li>Option to leave reviews and ratings for Christian books you have read</li>
        <li>Forum to discuss about Christian books with other users</li>
        <li>Responsive customer support team available for assistance</li>
    </ul>
    <h2>Supporting Christian Publishers and Authors:</h2>
    <p>At Christian Book Hub, we are committed to supporting Christian publishers and authors who are dedicated to spreading the message of God's love and grace through their writing. We carefully select our books to ensure that they align with Christian values and beliefs, and work closely with Christian publishers and authors to promote their work and help them reach a wider audience.</p>
    <p>If you are a Christian author or publisher and would like to learn more about how we can support your work, please contact us at <a href="mailto:support@christianbookhub.com">support@christianbookhub.com</a>.</p>
    <h2>Customer Support:</h2>
    <p>If you need assistance or have any questions, please contact our customer support team:</p>
    <ul>
        <li>Email: <a href="mailto:support@christianbookhub.com">support@christianbookhub.com</a></li>
        <li>Phone: +852 1234 5678</li>
    </ul>
{% endblock %}
