{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.csrf_token }}
        <label>Username</label>
        {{ form.username }}
        <label>Email</label>
        {{ form.email }}
        <label>Password</label>
        {{ form.password }}
        <label>Confirm Password</label>
        {{ form.confirm_password }}
        {{ form.submit }}
    </form>
{% endblock %}
